.basic {
    @apply border-2 rounded border-hub-blue bg-hub-white text-hub-blue 
    hover:bg-hub-blue hover:text-hub-white hover:border-hub-blue
    
}

.reverse-basic {
    @apply border-2 rounded text-hub-white bg-hub-blue border-hub-blue
    hover:text-hub-blue hover:bg-hub-white
}

.link {
    @apply basic flex items-center justify-center px-4 text-sm h-9
}

.basic-link {
    @apply text-sm font-semibold
    rounded-none bg-transparent shadow-none p-0 m-0 h-5 text-hub-middlegray 
    hover:bg-transparent hover:text-hub-blue hover:border-b hover:border-hub-blue
}