/* .form-label {
    @apply font-semibold text-hub-blue
}

.form-text-input {
    @apply border-2 border-hub-middlegray rounded text-hub-middlegray focus:border-hub-blue focus:text-hub-blue
}

.form-select-trigger {
    @apply border-2 border-hub-middlegray rounded text-hub-middlegray
}

.form-select-content {
    @apply cursor-pointer bg-hub-white rounded 
    border-2 border-hub-lightgray text-hub-middlegray
}

.form-select-item {
    @apply cursor-pointer focus:text-hub-blue
}

.form-popover-trigger {
    @apply border-2 border-hub-middlegray rounded text-hub-middlegray
    hover:border-hub-blue hover:text-hub-blue
}

.form-time-input {
    @apply border-2 border-hub-middlegray rounded text-hub-middlegray focus:border-hub-blue focus:text-hub-blue
    cursor-pointer
} */

.form-label {
    @apply lg:h-12 px-12 rounded-sm shadow-none border-2 border-grays-five text-grays-five font-medium
    placeholder:text-grays-five placeholder:font-medium focus:border-grays-three focus:text-grays-three
}

.textarea {
    @apply h-56 px-12 p-3 rounded-sm shadow-none border-2 border-grays-five text-grays-five font-medium
    placeholder:text-grays-five placeholder:font-medium focus:border-grays-three focus:text-grays-three
}

.hover-effect {
    @apply hover:cursor-pointer hover:border-blues-three hover:text-blues-three hover:bg-blues-seven
}

.form-calendar {
    @apply form-label bg-grays-seven hover-effect
}

.form-select-content {
    @apply cursor-pointer rounded-sm border-2 border-grays-five text-grays-five
}

.form-select-item {
    @apply hover-effect lg:h-12
}
